.App {
  font-family: sans-serif;
  margin-left: 20px;
}
input,
textarea {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  border: 3px solid black;
  border-radius: 9px;
}
